<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SubscriptionKey" value="{Your LUIS subscription key here}" />
    <add key="Region" value="{Your LUIS region here}" />
    <add key="DeviceId" value="{Your microphone device ID here}" />
    <add key="ApplicationId" value="{Your LUIS application ID here}" />
    <add key="APIBaseUrl" value="{Your API Url here}" />
  </appSettings>
</configuration>